= form_tag sessions_path do
  %p
    = label_tag :pseudonym
    = text_field_tag :pseudonym, params[:pseudonym]
  %p
    = label_tag :password
    = password_field_tag :password
  %p.button
    = submit_tag 'Log in'
