- if @user.errors.any?
  #error_explanation
    %h2 #{pluralize(@user.errors.count, 'error')} prohibited this user from being saved:
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
.field
  = f.label :email
  = f.text_field :email
.field
  = f.label :name
  = f.text_field :name
- if %w[create new].include?(action_name)
  .field
    = f.label :pseudonym
    = f.text_field :pseudonym
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
.field
  = f.label :company
  = f.select :company_id, Company.all.collect { |c| [c.title, c.id] }, selected: params[:company_id],
    include_blank: 'безработный'
.actions= f.submit 'Save'
