%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Company:
  = company_by_id(@user.company_id).title
%hr
- if access_by_user_id(@user._id)
  = link_to 'Edit', edit_user_path(@user.pseudonym)
  |
  - if @user.deleted_at.blank?
    = link_to 'Destroy', user_path(@user.pseudonym), method: :delete, data: { confirm: 'Are you sure?' }
    |
