%h2
  Users [
  = link_to @users.count, posts_path
  - if current_user
    = link_to '+', new_user_path
  - else
    +
  - if @users_archive.count.positive?
    = link_to @users_archive.count, users_path(archive: 1)
  - else
    0
  ]
- collection = params[:archive].present? ? @users_archive : @users
- index = (collection.current_page - 1) * collection.default_per_page
- if collection.present?
  %table
    %thead
      %tr
        %th= collection.current_page
        %th @
        %th Name
        %th Employment
        %th Email
        %th
        %th
    %tbody
      - collection.each do |user|
        - item = user.pseudonym
        %tr
          %td= index += 1
          %td= link_to item, user_path(item)
          %td= user.name
          %td= company_by_id(user.company_id).present? ? company_by_id(user.company_id).title : '-'
          %td= user.email
          -# - if current_user
            -# %td= link_to 'Edit', edit_user_path(item)
          -# %td= link_to 'Posts', user_posts_path(item)
  - if params[:archive].present?
    = paginate @users_archive
  - else
    = paginate @users
- else
  Nothing so far...
%br
