- if @company.blank?
  Company does not exist or was removed
  %br
- else
  %h1 Editing company
  = form_for @company, url: company_path(@company.tag), method: :put do |f|
    = render 'form', f: f
= link_to 'Back', companies_path
