%h2
  Companies [
  = link_to @companies.count, companies_path
  - if access_by_user_id(0)
    = link_to '+', new_company_path
  - else
    +
  - if @companies_archive.count.positive?
    = link_to @companies_archive.count, companies_path(archive: 1)
  - else
    0
  ]
- collection = params[:archive].present? ? @companies_archive : @companies
- index = (collection.current_page - 1) * collection.default_per_page
- if collection.present?
  %table
    %thead
      %tr
        %th= collection.current_page
        %th #
        %th Title
        %th
        %th
        %th
        %th
    %tbody
      - collection.each do |company|
        - item = company.tag
        %tr
          %td= index += 1
          %td= link_to item, company_path(item)
          %td= company.title
          -# - if access_by_user_id(0)
            -# %td= link_to 'Employees', company_users_path(item)
          -# %td= link_to 'Posts', company_posts_path(item)
  - if params[:archive].present?
    = paginate @companies_archive
  - else
    = paginate @companies
- else
  Nothing so far...
