- if @post.errors.any?
  #error_explanation
    %h2 #{pluralize(@post.errors.count, 'error')} prohibited this post from being saved:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg
- if %w[create new].include?(action_name)
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :title
    = f.text_field :title
.field
  = f.label :text
  = f.text_field :text
.field
  = f.label :keyword
  = f.text_field :keyword
.actions= f.submit 'Save'
