- if @post.keyword.present? && params[:keyword] != @post.keyword && current_user&.company_id != @post.company_id
  = form_for @post, url: post_path(@post.slug), method: :get, html: { autocomplete: 'off' } do |f|
    .field
      = f.label :keyword
      = f.text_field :keyword, name: 'keyword'
    .actions= f.submit 'Access post', name: nil
- else
  %p= @post.text
  %hr
  - if access_by_user_id(@post.user_id)
    = link_to 'Edit', edit_post_path(@post.slug)
    |
    - if @post.deleted_at.blank?
      = link_to 'Destroy', post_path(@post.slug), method: :delete, data: { confirm: 'Are you sure?' }
      |
