- if @post.blank?
  Post does not exist or was removed
  %br
- else
  %h1 Editing post
  = form_for @post, url: post_path(@post.slug), method: :put do |f|
    = render 'form', f: f
= link_to 'Back', posts_path
