%nav.current_user
  #user_nav
    - if current_user
      = link_to current_user.pseudonym, user_path(current_user.pseudonym)
      @
      = link_to company_by_id(current_user.company_id).title, company_path(company_by_id(current_user.company_id).tag)
      |
      = link_to 'Log out', log_out_path
    - else
      = link_to 'Sign up', sign_up_path
      or
      = link_to 'Log in', log_in_path
%hr
%h3
  = link_to 'Posts', posts_path
  \/
  = link_to 'Companies', companies_path
  - if current_user
    \/
    = link_to 'Users', users_path

%p#notice= notice
%hr
